body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

/* ================ HEADER ============= */

.header {
}

.header-nav {
}

.header-logo {
}

.header-image-logo {
}

.header-menu-list {
}

.header-menu-item {
}

.header-list-link {
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.header-link-active {
  font-weight: 600;
}

.header-list-item {
}

.header-enter-list {
}

.header-enter-item {
}

.header-button-sign-in {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: #fff;
}

.header-button-sign-up {
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

/* ================ MAIN ==================== */

/* ----------------- JOIN  --------------- */

.join {
  background-color: #02897a;
}

.join-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
}

.join-button {
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  background-color: #fff;
}

.join-image {
}

/* ================ FOOTER ============= */

.footer {
}

.footer-logo {
}

.footer-image-logo {
}

/* ----------------- RESOURSES  --------------- */

.resource {
}
.resource-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.resource-list {
}
.resource-list-item {
}
.resource-list-link {
  font-size: 16px;
  line-height: 2.19;
}

/* ----------------- STUFF  --------------- */

.stuff-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.stuff-list {
}

.stuff-list-item {
}

.stuff-list-link {
  font-size: 16px;
  line-height: 2.19;
}

/* ----------------- SIGN UP  --------------- */

.sign-up {
}

.sign-up-text {
  font-size: 16px;
  line-height: 2.19;
}

.sign-up-button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #02897a;
}

.made-by {
  font-size: 16px;
  line-height: 1.88;
}
