body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  padding: 22px 0;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ================ HEADER ============= */

.header {
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
}

.header-logo {
}

.header-image-logo {
  margin-right: 16px;
}

.header-menu-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-menu-item {
}

.header-list-link {
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
}

.header-link-active {
  font-weight: 600;
}

.header-list-item {
}

.header-enter-list {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;
}

.header-enter-item {
}

.header-button-sign-in {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: #fff;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  border: 1px solid #bcd0e5;
  padding: 9px 24px;
}

.header-button-sign-up {
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  padding: 9px 24px;
}

/* ================ MAIN ==================== */

/* ----------------- JOIN  --------------- */

.join {
  background-color: #02897a;

  border-radius: 32px;
  max-width: 968px;
  margin: 50px auto;
}

.join-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
  margin-bottom: 46px;
}

.join-button {
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  background-color: #fff;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  padding: 10px 34px;
}

.join-text-container {
  margin: 50px 0 56px 50px;
}

.join-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.join-image {
}

/* ================ FOOTER ============= */

.footer {
}

.footer-logo {
}

.footer-image-logo {
}

/* ----------------- RESOURSES  --------------- */

.resource {
}
.resource-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.resource-list {
}
.resource-list-item {
}
.resource-list-link {
  font-size: 16px;
  line-height: 2.19;
}

/* ----------------- STUFF  --------------- */

.stuff-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.stuff-list {
}

.stuff-list-item {
}

.stuff-list-link {
  font-size: 16px;
  line-height: 2.19;
}

/* ----------------- SIGN UP  --------------- */

.sign-up {
}

.sign-up-text {
  font-size: 16px;
  line-height: 2.19;
}

.sign-up-button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #02897a;
}

.made-by {
  font-size: 16px;
  line-height: 1.88;
}
