.section-title {
  font-size: 32px;
}

.section-text {
  font-size: 16px;
  line-height: 1.63;
}

.title-part {
  font-weight: 600;
  font-size: 16px;
}

/* ================ MAIN ============= */

/* ----------------- HERO --------------- */

.hero {
  padding: 25px 0 50px 0;
}

.hero-container {
  display: flex;
  gap: 35px;
  align-items: center;
}
.hero-title {
  font-size: 40px;
  line-height: 1.5;
}

.hero-text {
  font-size: 18px;
  line-height: 1.56;
  margin-top: 18px;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-list-item {
}

.hero-list-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  width: 178px;
  height: 53px;
  padding: 15px 42px;
}

.hero-list-link {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  width: 164px;
  height: 23px;
  background-color: #fff;
}

.hero-image {
}

/* ----------------- FEATURES --------------- */

.features {
  padding: 50px 0 25px 0;
}

.features-title {
  text-align: center;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.features-item-list {
  width: calc((100% - 90px) / 4);
}

.features-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.features-text {
}

.features-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  padding: 15px 33px;
}

/* ----------------- MANAGEMENT --------------- */

.management {
  padding: 25px 0 50px 0;
}

.management-container {
  display: flex;
  align-items: center;
  gap: 84px;
}

.management-title {
  padding-bottom: 25px;
}

.title-part {
  display: block;
}

.management-text {
  padding-bottom: 30px;
}

.management-list {
}

.management-list-item {
}

.management-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 12px;
}

.mangement-descr {
  padding-bottom: 25px;
}

.management-image {
}

/* ----------------- SUPPORT --------------- */

.support {
  padding: 50px 0;
}

.support-container {
  display: flex;
  gap: 85px;
  align-items: center;
}

.support-image {
}

.support-title {
  margin-bottom: 25px;
}

.support-text {
  margin-bottom: 30px;
}

.section-text {
}

.support-list {
}

.support-list-item {
  margin-bottom: 30px;
}

.support-descr {
}

/* ----------------- COLLABORATIVE --------------- */

.collaborative {
  padding: 50px 0 75px 0;
}

.collaborative-container {
  display: flex;
  align-items: center;
  gap: 84px;
}

.collaborative-title {
  margin-bottom: 25px;
}

.collaborative-text {
  margin-bottom: 30px;
}

.collaborative-list {
}

.collaborative-list-item {
  margin-bottom: 25px;
}

.collaborative-descr {
}

.collaborative-image {
}

/* ----------------- HELP --------------- */

.help {
  padding: 75px 0 50px 0;
}

.help-title {
  text-align: center;
}

.help-text {
  font-weight: 500;
  text-align: center;
  margin: 25px auto 40px auto;
  max-width: 542px;
}

.help-list {
  column-gap: 90px;
  row-gap: 25px;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-wrap: wrap;
}

.help-list-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.help-image {
}

.help-descr {
  width: calc((100% - 198px - 40px - 90px) / 4);
  font-weight: 500;
  text-align: center;
  fill: #fff;
  padding: 13px 20px;
  width: 281px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

.help-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  margin: 50px auto 0 auto;
  display: block;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  padding: 15px 30px;
}

/* ----------------- STRATEGIES --------------- */

.strategy {
  padding: 50px 0 85px 0;
}

.strategy-title {
  font-size: 34px;
}

.strategy-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  margin: 10px 0 40px 0;
  max-width: 465px;
}

.strategy-list {
  display: flex;
  gap: 30px;
}

.strategy-list-item {
  border-radius: 8px;
  border: 1px solid #dedede;
  width: calc((100% - 60px) / 3);
}

.strategy-list-link {
}

.strategy-image {
}

.strategy-descr {
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  margin-bottom: 12px;
}

.strategy-item-container {
  padding: 24px 27px 40px 27px;
}

.strategy-descr-bold {
  font-weight: 700;
}

.strategy-subtitle {
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
}

/* ----------------- PRICE --------------- */

.price {
  padding: 85px 0 50px 0;
}

.price-title {
  font-size: 34px;
  text-align: center;
}

.price-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 10px 0 40px;
}

.price-list {
  display: flex;
  gap: 72px;
}

.per-month-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.price-list-item {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 32px 68px;
  width: calc((100% - 72px * 2) / 3);
  text-align: center;
}

.price-subtitle {
  font-size: 24px;
  line-height: 1.67;
}

.price-subtitle-descr {
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
}

.price-sum {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}

.price-sum-container {
  text-align: start;
}

.price-dollar {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}

.price-per-month {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.price-menu-list {
  margin: 16px 0 30px 0;
}

.price-menu-item {
  margin-bottom: 16px;
}

.price-menu-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.01em;
}

.price-button {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #02897a;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  padding: 11px 19px;
}

/* ----------------- REVIEWS  --------------- */

.reviews {
  padding: 50px 0;
}

.reviews-title {
  line-height: 1.79;
  letter-spacing: 0.01em;
  text-align: center;
}

.reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 537px;
  margin: 10px auto 40px auto;
}

.reviews-list {
  display: flex;
  gap: 65px;
}

.reviews-list-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;
  width: calc((100%-130px) / 3);
}

.rewiews-list-descr {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin: 16px 0;
}

.reviews-container {
  display: flex;
  gap: 15px;
}

.reviews-image {
}

.reviews-client-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.reviews-client-position {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}
